li {
  color:white;
  background-color:gray;
}
img {
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
}
.Profilbild {
  float: left;
}

.article {
  background-color: darkgrey
  float: right;
}
